<div class="container inner">
	<div class="row">

		<div class="col-md-8 inner-right-md">

			<!-- ============================================================= SECTION – HERO ============================================================= -->

			<section id="hero">
				<header>
					<h1>We're REEN – <br>a creative and digital Agency</h1>
				</header>
			</section>

			<!-- ============================================================= SECTION – HERO : END ============================================================= -->


			<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->

			<section id="who-we-are" class="inner-top-sm">
				<div class="row">

					<div class="col-sm-6 inner-right-xs inner-bottom-sm">
						<h2>What we do</h2>
						<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusae es tumquam core posae volor remped modi volor. Doloreiur qui commolu temp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
						<p>Eumenis et consent accullignis dentibea autem inisita posae volor conecus restivum explabo. Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni restibusae es tumquam core labor.</p>
					</div><!-- /.col -->

					<div class="col-sm-6 inner-left-xs inner-bottom-sm">
						<h2>What we believe in</h2>
						<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusae es tumquam core posae volor remped modi volor. Doloreiur qui commolu temp dolupta oreprerum tibusam umenis autem consent accullignis dentibea inisita posae volor.</p>
						<p>Eumenis et consent accullignis dentibea autem inisita posae volor conecus restivum explabo. Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni restibusae tumquam core labor. Columna ptatemp dolupta oreprerum tibusam.</p>
					</div><!-- /.col -->

				</div><!-- ./row -->
			</section>

			<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->

		</div><!-- ./col -->

		<div class="col-md-4">

			<!-- ============================================================= SECTION – TEAM ============================================================= -->

			<section id="team" class="light-bg inner-xs inner-left-xs inner-right-xs">

				<h3 class="team-headline sidelines text-center"><span>Who we are</span></h3>

				<div class="row thumbs gap-md text-center">

					<div class="col-sm-6 thumb">
						<figure class="member">

							<div class="member-image">

								<div class="text-overlay">
									<div class="info">
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
											<li><a href="#"><i class="icon-s-gplus"></i></a></li>
											<li><a href="#"><i class="icon-s-twitter"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.info -->
								</div><!-- /.text-overlay -->

								<img src="assets/images/art/human03.jpg">

							</div><!-- /.member-image -->

							<figcaption class="member-details bordered no-top-border">
								<h3>
									Chris Cavill
									<span>Creative Director</span>
								</h3>
							</figcaption>

						</figure>
					</div><!-- /.col -->

					<div class="col-sm-6 thumb">
						<figure class="member">

							<div class="member-image">

								<div class="text-overlay">
									<div class="info">
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
											<li><a href="#"><i class="icon-s-gplus"></i></a></li>
											<li><a href="#"><i class="icon-s-twitter"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.info -->
								</div><!-- /.text-overlay -->

								<img src="assets/images/art/human01.jpg">

							</div><!-- /.member-image -->

							<figcaption class="member-details bordered no-top-border">
								<h3>
									Amber Jones
									<span>Marketing Director</span>
								</h3>
							</figcaption>

						</figure>
					</div><!-- /.col -->

				</div><!-- /.row -->

				<div class="row thumbs gap-md text-center">

					<div class="col-sm-6 thumb">
						<figure class="member">

							<div class="member-image">

								<div class="text-overlay">
									<div class="info">
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
											<li><a href="#"><i class="icon-s-gplus"></i></a></li>
											<li><a href="#"><i class="icon-s-twitter"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.info -->
								</div><!-- /.text-overlay -->

								<img src="assets/images/art/human05.jpg">

							</div><!-- /.member-image -->

							<figcaption class="member-details bordered no-top-border">
								<h3>
									Sophie Adams
									<span>Technical Director</span>
								</h3>
							</figcaption>

						</figure>
					</div><!-- /.col -->

					<div class="col-sm-6 thumb">
						<figure class="member">

							<div class="member-image">

								<div class="text-overlay">
									<div class="info">
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
											<li><a href="#"><i class="icon-s-gplus"></i></a></li>
											<li><a href="#"><i class="icon-s-twitter"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.info -->
								</div><!-- /.text-overlay -->

								<img src="assets/images/art/human04.jpg">

							</div><!-- /.member-image -->

							<figcaption class="member-details bordered no-top-border">
								<h3>
									Toby Evans
									<span>Senior Designer</span>
								</h3>
							</figcaption>

						</figure>
					</div><!-- /.col -->

				</div><!-- /.row -->

				<div class="row thumbs gap-md text-center">

					<div class="col-sm-6 thumb last-bottom">
						<figure class="member">

							<div class="member-image">

								<div class="text-overlay">
									<div class="info">
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
											<li><a href="#"><i class="icon-s-gplus"></i></a></li>
											<li><a href="#"><i class="icon-s-twitter"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.info -->
								</div><!-- /.text-overlay -->

								<img src="assets/images/art/human06.jpg">

							</div><!-- /.member-image -->

							<figcaption class="member-details bordered no-top-border">
								<h3>
									Amy Williams
									<span>Designer</span>
								</h3>
							</figcaption>

						</figure>
					</div><!-- /.col -->

					<div class="col-sm-6 thumb last-bottom">
						<figure class="member">

							<div class="member-image">

								<div class="text-overlay">
									<div class="info">
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
											<li><a href="#"><i class="icon-s-gplus"></i></a></li>
											<li><a href="#"><i class="icon-s-twitter"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.info -->
								</div><!-- /.text-overlay -->

								<img src="assets/images/art/human02.jpg">

							</div><!-- /.member-image -->

							<figcaption class="member-details bordered no-top-border">
								<h3>
									Jennifer Fox
									<span>Project Manager</span>
								</h3>
							</figcaption>

						</figure>
					</div><!-- /.col -->

				</div><!-- /.row -->

			</section>

			<!-- ============================================================= SECTION – TEAM : END ============================================================= -->

		</div><!-- /.col -->

	</div><!-- /.row -->
</div><!-- /.container -->

<!-- ============================================================= SECTION – VALUES ============================================================= -->

<section id="values" class="tint-bg img-bg-bottom img-bg-softer" style="background-image: url(assets/images/art/slider04.jpg);">
	<div class="container inner-top inner-bottom-sm">

		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>What drives us</h1>
					<p>Magnis modipsae que voloratati andigen daepedor quiate reporemni autem. Laceaque quiae sitiorem restibusaes es novum tumquam core posae volor remped modis volor dolor qui commolu ptatemp dolupta orem retibusam emnis.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class="row inner-top-sm">

			<div class="col-md-1">
				<div class="icon pull-right">
					<i class="icon-heart-empty-1 icn"></i>
				</div><!-- /.icon -->
			</div><!-- /.col -->

			<div class="col-md-3 inner-bottom-xs">
				<h2>Passion</h2>
				<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
			</div><!-- /.col -->

			<div class="col-md-1">
				<div class="icon pull-right">
					<i class="icon-lamp icn"></i>
				</div><!-- /.icon -->
			</div><!-- /.col -->

			<div class="col-md-3 inner-bottom-xs">
				<h2>Creativity</h2>
				<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
			</div><!-- /.col -->

			<div class="col-md-1">
				<div class="icon pull-right">
					<i class="icon-star-empty-1 icn"></i>
				</div><!-- /.icon -->
			</div><!-- /.col -->

			<div class="col-md-3 inner-bottom-xs">
				<h2>Quality</h2>
				<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
			</div><!-- /.col -->

		</div><!-- /.row -->

	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – VALUES : END ============================================================= -->


<!-- ============================================================= SECTION – OFFICE ============================================================= -->

<section id="office">
	<div class="container inner">

		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Our office</h1>
					<p>Magnis modipsae que voloratati andigen daepedor quiate reporemni autem. Laceaque quiae sitiorem restibusaes es novum tumquam core posae volor remped modis volor dolor qui commolu ptatemp dolupta orem retibusam emnis.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class="row">
			<div class="col-sm-10 center-block inner-top-sm">
				<div id="owl-office" class="owl-carousel owl-outer-nav owl-ui-md">

					<div class="item">
						<figure>
							<img src="assets/images/art/office01.jpg" alt="">
						</figure>
					</div><!-- /.item -->

					<div class="item">
						<figure>
							<img src="assets/images/art/office02.jpg" alt="">
						</figure>
					</div><!-- /.item -->

					<div class="item">
						<figure>
							<img src="assets/images/art/office03.jpg" alt="">
						</figure>
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.col -->
		</div><!-- /.row -->

	</div><!-- /.container -->

</section>

<!-- ============================================================= SECTION – OFFICE : END ============================================================= -->


<!-- ============================================================= SECTION – REASONS ============================================================= -->

<section id="reasons" class="light-bg">
	<div class="container inner-top inner-bottom-sm">
		<div class="row">

			<div class="col-md-3 inner-right-xs inner-bottom-xs">
				<h2>Why you should work with REEN</h2>
			</div><!-- /.col -->

			<div class="col-md-3 inner-right-xs inner-bottom-xs">
				<h3>Pixels friendly</h3>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor quiae sitiorem rest tumquam core.</p>
			</div><!-- /.col -->

			<div class="col-md-3 inner-right-xs inner-bottom-xs">
				<h3>We like to share</h3>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor quiae sitiorem rest tumquam core.</p>
			</div><!-- /.col -->

			<div class="col-md-3 inner-right-xs inner-bottom-xs">
				<h3>We think you’re unique</h3>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor quiae sitiorem rest tumquam core.</p>
			</div><!-- /.col -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – REASONS : END ============================================================= -->


<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

<section id="get-in-touch" class="tint-bg">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-sm-10 center-block text-center">
				<h1 class="single-block">Want to work with us? <a href="contact.html" class="btn btn-large">Get in touch</a></h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>
