<section id="portfolio-post">
	<div class="container inner-top-md">

		<div class="row">
			<div class="col-sm-12">
				<div id="owl-work" class="owl-carousel owl-inner-pagination owl-outer-nav owl-ui-lg">

					<div class="item">
						<figure>
							<img src="assets/images/sites/cusp1.jpg" alt="">
						</figure>
					</div><!-- /.item -->

					<div class="item">
						<figure>
							<img src="assets/images/sites/cusp2.jpg" alt="">
						</figure>
					</div><!-- /.item -->

					<div class="item">
						<figure>
							<img src="assets/images/sites/cusp3.jpg" alt="">
						</figure>
					</div><!-- /.item -->

					<div class="item">
						<figure>
							<img src="assets/images/sites/cusp4.jpg" alt="">
						</figure>
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class="row">

			<div class="col-sm-7 inner-top-xs inner-right-xs">
				<header>
					<h2>Spaces of Opportunity</h2>
					<h3>Unlimited Potential and Cultivate South Phoenix (CUSP)</h3>
					<p class="text-normal">Cultivate South Phoenix (CUSP), in partnership with the Roosevelt School District and Desert Botanical Garden, is developing Spaces of Opportunity, a community farm and garden that provides families in South Phoenix with access to affordable healthy food, active living, and celebrates the healthy roots of cultures. Spaces promotes wellness and builds community by offering a safe and beautiful environment for families to gather, dialogue, exercise, garden, farm, eat, and learn together. Additional wellness and community building activities are taking place at other shared-use sites within the Roosevelt School District, including VH Lassen Elementary School, Ignacio Conchos Elementary School, and the George B. Brooks Sr. Community School.
					</p>
					<h5><b>Incubator Farm Program:</b> Spaces provides ¼ to 1 acre plots of land to farmers with limited resources who are part of the South Phoenix community. The Incubator Farm is central to Spaces’ efforts to create a neighborhood food hub, offer a weekly Farmer Stand (soon to be Farmers Market), and create a viable market of customers for the Spaces Community Supported Agriculture (CSA) program, Our Harvest/Nuestra Cosecha.</h5>
					<h5><b>Farmer Stand:</b> The Spaces Farmer Stand is the only place in South Phoenix that provides fresh, naturally and locally grown, seasonal produce on a weekly basis. The produce is sold at competitive prices to support the livelihoods of South Phoenix farmers while also being affordable to residents. All forms of payment are accepted at the Farmer Stand, including SNAP/EBT and WIC benefits.</h5>
					<h5><b>Our Harvest/Nuestra Cosecha:</b> This CSA program allows South Phoenix community members to subscribe to receive a weekly or bi-weekly tote with the best selection from the Farmer Stand. Each tote is $25 and includes 9-10 items (e.g., leafy greens, root vegetables, herbs, fruit when possible), to feed 2-4 people and is picked up at the Spaces Farmer Stand.</h5>
					<h5><b>Community Gardening:</b> For $5 a month, South Phoenix community members can rent a 5x50 foot garden plot to grow fruits, vegetables, and herbs for personal and family use. Plots are also available to local non-profit organizations and schools. Additionally, community members can help grow the Nopal (Prickly Pear) Garden and learn about indigenous plants of the Sonoran Desert.</h5>
					<h5><b>Promotion of Health Equity:</b> Coming Soon! Spaces will offer an array of activities and events, such as walking groups, popular theater, film screenings, and Healthy Roots classes, to promote dialogue and a critical awareness of the social determinants of health.</h5>
				</header>
			</div><!-- /.col -->

			<div class="col-sm-4 col-sm-offset-1 outer-top-xs inner-left-xs border-left">
				<h5>Hours of Operation</h5>
				<ul class="item-details">
					<li>Incubator Farm and Community Gardening Programs: 24/7 plot access</li>
					<li>Community Workday (Public): Second Saturdays 8:00 AM - 12:00 PM</li>
					<li>Farmer Stand: Every Saturday 8:00 AM - 12:00 PM</li>
					<li>Our Harvest/Nuestra Cosecha: Every Saturday, Nov-June 8:00 AM - 12:00 PM</li>
					<li><a href="https://maps.google.com?saddr=Current+Location&daddr=1198+W.+Vineyard+Road+Phoenix+AZ+85041">1198 W Vineyard Rd, Phoenix</a></li>
					<li class="client"><a href="mailto:igarcia@unlimitedpotentialaz.org?Subject=Shared%20Use%20Site%20Inquiry">Contact this Site</a></li>
					<li class="categories">public events, private events, outdoors</li>
					<li class="url"><a href="http://cultivatephx.com/">Website</a></li>
				</ul><!-- /.item-details -->
			</div><!-- /.col -->

		</div><!-- /.row -->

	</div><!-- /.container -->

</section>

<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->


<!-- ============================================================= SECTION – Nearby Sites ============================================================= -->

<section id="more-works">
	<div class="container inner-top-sm inner-bottom">
		<div class="row">
			<div class="col-sm-12">
				<div id="accordion" class="panel-group blank">
					<div class="panel panel-default">

						<div class="panel-heading text-center">
							<h4 class="panel-title">
								<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
									<span>Nearby Sites</span>
								</a>
							</h4>
						</div><!-- /.panel-heading -->

						<div id="content" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="portfolio">

									<ul class="filter text-center">
										<li><a href="#" data-filter="*" class="active">All</a></li>
										<li><a href="#" data-filter=".recreational">Recreational</a></li>
										<li><a href="#" data-filter=".interactive">Interactive</a></li>
										<li><a href="#" data-filter=".print">Print</a></li>
										<li><a href="#" data-filter=".photography">Photography</a></li>
									</ul><!-- /.filter -->

									<ul class="isotope items col-4">

										<li class="item thumb interactive">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Appscreen Dashboard</h4>
															<p>Interactive</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work01.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Grand Motel</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work02.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Signwall</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work16.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb print">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Modern CD Case</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work18.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Astor & Yancy</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work09.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb photography">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Daydreaming</h4>
															<p>Photography</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/photograph02.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Brand Stationery</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work08a.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb print">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Tri Fold Brochure</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work10.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb interactive">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vintage Bicycles</h4>
															<p>Interactive</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work03.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb print">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Electric Dance Book Cover</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work20.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Embroidered</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work05.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational print">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Brand Stationery</h4>
															<p>Recreational/Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work21.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Handmade Wood Gifts</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work17.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Designer Brand</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work19.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb print">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vinyl Records</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work07.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb interactive">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Elena Website</h4>
															<p>Interactive</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work22.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

									</ul><!-- /.items -->

								</div><!-- /.portfolio -->
							</div><!-- /.panel-body -->
						</div><!-- /.content -->

					</div><!-- /.panel -->
				</div><!-- /.accordion -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – Nearby Sites : END ============================================================= -->


<!-- ============================================================= SECTION – SHARE ============================================================= -->

<section id="share" class="light-bg">
	<div class="container">

		<div class="col-sm-4 reset-padding">
			<a href="#" class="btn-share-md">
				<p class="name">Facebook</p>
				<i class="icon-s-facebook"></i>
				<p class="counter">1080</p>
			</a>
		</div><!-- /.col -->

		<div class="col-sm-4 reset-padding">
			<a href="#" class="btn-share-md">
				<p class="name">Twitter</p>
				<i class="icon-s-twitter"></i>
				<p class="counter">1263</p>
			</a>
		</div><!-- /.col -->

		<div class="col-sm-4 reset-padding">
			<a href="#" class="btn-share-md">
				<p class="name">Google +</p>
				<i class="icon-s-gplus"></i>
				<p class="counter">963</p>
			</a>
		</div><!-- /.col -->

	</div><!-- /.container -->
</section>
