<section id="portfolio-post">
	<div class="container inner-top-md">

		<div class="row">
			<div class="col-sm-12">
				<div id="owl-work" class="owl-carousel owl-inner-pagination owl-outer-nav owl-ui-lg">

					<div class="item">
						<figure>
							<img src="assets/images/sites/mollen.jpg" alt="">
						</figure>
					</div><!-- /.item -->

					<div class="item">
						<figure>
							<img src="assets/images/sites/mollen2.jpg" alt="">
						</figure>
					</div><!-- /.item -->

					<div class="item">
						<figure>
							<img src="assets/images/sites/mollen3.jpg" alt="">
						</figure>
					</div><!-- /.item -->

					<div class="item">
						<figure>
							<img src="assets/images/sites/mollen4.jpg" alt="">
						</figure>
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class="row">

			<div class="col-sm-7 inner-top-xs inner-right-xs">
				<header>
					<h2>Garfield Elementary School</h2>
          <h3><i>The Mollen Foundation</i></h3>
					<p class="text-normal">Garfield’s Garden on the Corner is a healthy hub collaborative offering comprehensive health programming for students, families, and residents of the historic Garfield neighborhood.
					</p>
					<h5>Garfield’s Garden on the Corner hosts activities such as gardening, cooking, yoga, family nights, and various fitness classes. Stop by to see what’s happening this week! </h5>
				</header>
			</div><!-- /.col -->

			<div class="col-sm-4 col-sm-offset-1 outer-top-xs inner-left-xs border-left">
				<h5 class="date">Hours of Operation</h5>
				<ul class="item-details">
					<li>August – May, most Thursdays 4:15 pm – 5:00 pm</li>
					<li><a href="https://maps.google.com?saddr=Current+Location&daddr=811+North+13th+Street+Phoenix+AZ+85006">811 N 13th St, Phoenix, AZ 85006</a></li>
					<li class="client"><a href="mailto:katie@mollenfoundation.org?Subject=Shared%20Use%20Site%20Inquiry">Contact this Site</a></li>
					<li class="categories">public events, outdoors, community gatherings</li>
					<li class="url"><a href="http://garfield.phxschools.org/">Website</a></li>
				</ul><!-- /.item-details -->
			</div><!-- /.col -->

		</div><!-- /.row -->

	</div><!-- /.container -->

</section>

<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->


<!-- ============================================================= SECTION – Nearby Sites ============================================================= -->

<section id="more-works">
	<div class="container inner-top-sm inner-bottom">
		<div class="row">
			<div class="col-sm-12">
				<div id="accordion" class="panel-group blank">
					<div class="panel panel-default">

						<div class="panel-heading text-center">
							<h4 class="panel-title">
								<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
									<span>Nearby Sites</span>
								</a>
							</h4>
						</div><!-- /.panel-heading -->

						<div id="content" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="portfolio">

									<ul class="filter text-center">
										<li><a href="#" data-filter="*" class="active">All</a></li>
										<li><a href="#" data-filter=".recreational">Recreational</a></li>
										<li><a href="#" data-filter=".interactive">Interactive</a></li>
										<li><a href="#" data-filter=".print">Print</a></li>
										<li><a href="#" data-filter=".photography">Photography</a></li>
									</ul><!-- /.filter -->

									<ul class="isotope items col-4">

										<li class="item thumb interactive">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Appscreen Dashboard</h4>
															<p>Interactive</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work01.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Grand Motel</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work02.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Signwall</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work16.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb print">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Modern CD Case</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work18.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Astor & Yancy</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work09.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb photography">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Daydreaming</h4>
															<p>Photography</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/photograph02.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Brand Stationery</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work08a.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb print">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Tri Fold Brochure</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work10.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb interactive">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vintage Bicycles</h4>
															<p>Interactive</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work03.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb print">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Electric Dance Book Cover</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work20.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Embroidered</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work05.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational print">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Brand Stationery</h4>
															<p>Recreational/Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work21.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Handmade Wood Gifts</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work17.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb Recreational">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Designer Brand</h4>
															<p>Recreational</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work19.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb print">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vinyl Records</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work07.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

										<li class="item thumb interactive">
											<a href="portfolio-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Elena Website</h4>
															<p>Interactive</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="assets/images/art/work22.jpg" alt="">
												</figure>
											</a>
										</li><!-- /.item -->

									</ul><!-- /.items -->

								</div><!-- /.portfolio -->
							</div><!-- /.panel-body -->
						</div><!-- /.content -->

					</div><!-- /.panel -->
				</div><!-- /.accordion -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – Nearby Sites : END ============================================================= -->


<!-- ============================================================= SECTION – SHARE ============================================================= -->

<section id="share" class="light-bg">
	<div class="container">

		<div class="col-sm-4 reset-padding">
			<a href="#" class="btn-share-md">
				<p class="name">Facebook</p>
				<i class="icon-s-facebook"></i>
				<p class="counter">1080</p>
			</a>
		</div><!-- /.col -->

		<div class="col-sm-4 reset-padding">
			<a href="#" class="btn-share-md">
				<p class="name">Twitter</p>
				<i class="icon-s-twitter"></i>
				<p class="counter">1263</p>
			</a>
		</div><!-- /.col -->

		<div class="col-sm-4 reset-padding">
			<a href="#" class="btn-share-md">
				<p class="name">Google +</p>
				<i class="icon-s-gplus"></i>
				<p class="counter">963</p>
			</a>
		</div><!-- /.col -->

	</div><!-- /.container -->
</section>
