<div ng-controller="LoginController" ng-cloak>
  <button id="googleSignIn">Sign in with Google</button>
  <button id="googleSignOut">Sign out from Google</button>

  <button>Sign in with Facebook</button>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script async defer src="https://apis.google.com/js/api.js"
          onload="this.onload=function(){};handleClientLoad()"
          onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>
</div>
