<section id="get-in-touch" class="inner-bottom">
	<div class="container inner light-bg">
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Interested in getting involved?</h1>
					<p>Together, we can help ensure that more safe, accessible spaces to play and gather are available to those who need it most. You can learn more about activating shared use in your community, existing shared use sites near you and upcoming engagement opportunities through the links below. Contact us for any questions, and we'll get in touch.</p>
				</header>
				<a href="./contact.html" class="btn btn-large">Get in touch</a>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>
