<section id="portfolio">

	<div class="container inner">
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Participating Shared Use Sites</h1>
					<h3>What is Shared Use?</h3>
					<p>Shared use, sometimes called joint use, occurs when an entity such as a school agrees to open their doors for use by the neighborhood. While many equate shared use with playgrounds, shared use can also include the creative reuse of vacant land, school classrooms or multipurpose rooms, gymnasiums, tracks and many other underutilized facilities.<p>
					<ul>
						<h3>Entities that can participate in Shared Use include:</h3>
						<li>Government | Public | Private | Nonprofit | Faith-based</li>
					</ul>
					<p>Here is some information about our participating shared use sites:</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->

	<div class="container inner-bottom">
		<div class="row">
			<div class="col-sm-12 portfolio">

				<ul class="filter text-center">
					<li><a href="#" data-filter="*" class="active">All</a></li>
					<li><a href="#" data-filter=".recreational">Recreational</a></li>
					<li><a href="#" data-filter=".interactive">Community Engagement</a></li>
					<li><a href="#" data-filter=".interactive">Event Space</a></li>
				</ul><!-- /.filter -->

				<ul class="isotope items col-4 gap">

					<li class="item thumb interactive">
						<figure>

							<div class="icon-overlay icn-link">
								<a href="/#/sites/cultivatesouthphx"><img src="assets/images/sites/cusp1.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->

							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="/#/sites/cultivatesouthphx">Cultivate South Phoenix </a></h4>
									<p>Community Engagement</p>
								</div><!-- /.info -->
							</figcaption>

						</figure>
					</li><!-- /.item -->

					<li class="item thumb recreational">
						<figure>

							<div class="icon-overlay icn-link">
								<a href="/#/sites/wilson"><img src="assets/images/sites/wilson1.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->

							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="/#/sites/wilson">Wilson Elementary</a></h4>
									<p>Recreational</p>
								</div><!-- /.info -->
							</figcaption>

						</figure>
					</li><!-- /.item -->

					<li class="item thumb recreational">
						<figure>

							<div class="icon-overlay icn-link">
								<a href="/#/sites/kiser"><img src="assets/images/sites/paloma2.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->

							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="/#/sites/kiser">Kiser Elementary</a></h4>
									<p>Recreational</p>
								</div><!-- /.info -->
							</figcaption>

						</figure>
					</li><!-- /.item -->

					<li class="item thumb recreational">
						<figure>

							<div class="icon-overlay icn-link">
								<a href="/#/sites/nadaburg"><img src="assets/images/sites/nadaburg1.png" alt=""></a>
							</div><!-- /.icon-overlay -->

							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="/#/sites/nadaburg">Nadaburg Elementary</a></h4>
									<p>Recreational</p>
								</div><!-- /.info -->
							</figcaption>

						</figure>
					</li><!-- /.item -->

					<li class="item thumb recreational">
						<figure>

							<div class="icon-overlay icn-link">
								<a href="/#/sites/garfield"><img src="assets/images/sites/garfield1.png" alt=""></a>
							</div><!-- /.icon-overlay -->

							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="/#/sites/garfield">Garfield Elementary</a></h4>
									<p>Recreational</p>
								</div><!-- /.info -->
							</figcaption>

						</figure>
					</li><!-- /.item -->

					<li class="item thumb recreational">
						<figure>

							<div class="icon-overlay icn-link">
								<a href="/#/sites/solano"><img src="assets/images/sites/solano_2.jpg" alt=""></a>
							</div><!-- /.icon-overlay -->

							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="/#/sites/solano">Solano Elementary</a></h4>
									<p>Recreational</p>
								</div><!-- /.info -->
							</figcaption>

						</figure>
					</li><!-- /.item -->
				</ul><!-- /.items -->

			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->


<!-- ============================================================= SECTION – SHARE ============================================================= -->

<section id="share" class="light-bg">
	<div class="container">

		<div class="col-sm-4 reset-padding">
			<a href="#" class="btn-share-md">
				<p class="name">Facebook</p>
				<i class="icon-s-facebook"></i>
			</a>
		</div><!-- /.col -->

		<div class="col-sm-4 reset-padding">
			<a href="#" class="btn-share-md">
				<p class="name">Twitter</p>
				<i class="icon-s-twitter"></i>
			</a>
		</div><!-- /.col -->

		<div class="col-sm-4 reset-padding">
			<a href="#" class="btn-share-md">
				<p class="name">Google +</p>
				<i class="icon-s-gplus"></i>
			</a>
		</div><!-- /.col -->

	</div><!-- /.container -->
</section>
